/* These are my Google Fonts. 
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Satisfy', cursive; 
*/
body {
    font-size: 16px;
    background-image: url(images/pagebackground.jpg);
}
.banner {
    background-image: url(images/mediterraneanbanner.jpg);
    height: 300px;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #FF724E;
    text-shadow: 5px 5px 4px #B34225;
    padding-top: 60px;
}
.description {
    text-align: center;
    font-size: 25px;
    color: #4FFFC5;
    text-shadow: 2px 2px 3px #14B37E;
    font-style: italic;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    background-color: #14B37E;
}
li {
    display: inline; 
    float: left;
}
li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
body img {
    max-width: 200px;
    max-height: 300px;
}